@model TatryExplorer.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmień hasło";
}
<h2>@ViewData["Title"]</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="ChangePassword">
    <div class="form-group">
        <label asp-for="NewPassword">Nowe hasło</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <button type="button" class="btn btn-primary" onclick="history.back()">Anuluj</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
