
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/TatryExplorer.AssemblyInfo.cs
obj/Debug/net8.0/TatryExplorer.AssemblyInfoInputs.cache
obj/Debug/net8.0/TatryExplorer.assets.cache
obj/Debug/net8.0/TatryExplorer.csproj.AssemblyReference.cache
obj/Debug/net8.0/TatryExplorer.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/TatryExplorer.GlobalUsings.g.cs
obj/Debug/net8.0/TatryExplorer.RazorAssemblyInfo.cache
obj/Debug/net8.0/TatryExplorer.RazorAssemblyInfo.cs
obj/project.assets.json
obj/project.nuget.cache
obj/TatryExplorer.csproj.nuget.dgspec.json
obj/TatryExplorer.csproj.nuget.g.props
obj/TatryExplorer.csproj.nuget.g.targets
