@{
    ViewData["Title"] = "Strona główna";
}
<body class="home background">
    <div class="hero-text">
        <h1>TatryExplorer</h1>
        <p>Tutaj znajdziesz swoją ulubioną trasę</p>
    </div>
</body>